body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

#header{
    width: 100%;
    background-color: #cccccc;
    height: 200px;
    text-align: center
}

#header ul {
    text-align: right;
    list-style-type: none;
}

#header ul li {
    display: inline-block;
    margin: 10px 10px 0 0;
}

#header a, #footer a {
    color: green;
    text-decoration: none
}

#header a:hover, #footer a:hover{
    color: orange;
}

h1{
    color:orange;
    font-size: 72px;
    margin: 0;
}


div#logo{
    background-image: url('ubermelonsmall.png');
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#text-wrapper{
    
}

.textcolumn{
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 35%;
}
#column2{
    margin-left: 10%;
}

#column1{
    position: absolute;
    margin-left: 10%;
}

#footer{
    text-align: center;
}

#footer ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px 10px 0px;
}